<section class="py-5  container" id="about">
  <div class="row py-lg-5">
    <div class="mx-auto">
      <h1 class="fw-light text-center logo"><span>Three</span>Fash</h1>
      <p class="lead text-muted">Selamat datang di ThreeFash ! ThreeFash adalah online shop yang menyediakan pakaian dari brand terkenal dunia yaitu DIOR yang berasal dari Avenue Montaigne, Paris, Perancis yang didirikan pada 16 Desember 1946 oleh Christian Dior. Kemudian CHANEL yang didirikan pada tahun 1909, di Paris, Prancis oleh Gabrielle Chanel atau yang lebih dikenal sebagai Coco Chanel. Brand terakhir adalah PRADA yang berasal dari Milan Itali dan didirikan pada tahun 1913 oleh Mario Prada. Karena brand yang kami sediakan dari luar negeri, kami selalu meng-import barang dari kantor pusat brand. Kami memberikan barang dengan kualitas dan pengemasan yang terbaik kepada anda. Semoga anda puas dengan pelayanan yang kami berikan. Terimakasih. </p>
    </div>
  </div>
  <div class="product right"><a [routerLink]="'/product'"
    routerLinkActive="active">BELANJA >></a></div>
</section>
