<footer class="page-footer bg-dark pt-1">
  <div class="container text-center text-md-left mt-5 mb-1">
    <div class="row">
      <div class="col-md-3  ">
        <h6 class=" font-weight-bold text-white">ThreeFash</h6>
        <hr class="bg-warning mb-4 mt-0 d-inline-block mx-auto" style="width: 74px; height: 2px">
        <p class="mt-2 text-muted">ThreeFash dibuat sebagai bentuk penyerahan tugas kepada Salt Academy yaitu, untuk memenuhi penilaian Assignment 3. Dengan kriteria e-commerce website, ThreeFash menyediakan layanan online shop yang bergerak dibidang fashion. <br><br> - Nabila Khaerunnisa -</p>
      </div>
      <div class="col-md-2  ">
        <h6 class="text-uppercase font-weight-bold text-white">Usefull Links</h6>
        <hr class="bg-warning mb-4 mt-0 d-inline-block mx-auto" style="width: 112px; height: 2px">
        <ul class="list-unstyled">
          <li class="my-2"><a [routerLink]="'/home'"
            routerLinkActive="active" class="text-muted" >- Home</a></li>
          <li class="my-2"><a href="#" class="text-muted" >- About</a></li>
          <li class="my-2"><a [routerLink]="'/product'"
            routerLinkActive="active" class="text-muted" >- Product</a></li>
          <li class="my-2"><a href="#" class="text-muted" >- Designer</a></li>
          <li class="my-2"><a [routerLink]="'/contact'"
            routerLinkActive="active" class="text-muted" >- Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3  ">
        <h6 class="text-uppercase font-weight-bold text-white" >Contact</h6>
        <hr class="bg-warning mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height: 2px">
        <ul class="list-unstyled text-muted">
          <li class="my-2 fas fa-home"><a href="#"><span class="ml-1 text-muted">Bandung, Jawa Barat, Indonesia</span></a></li><br>
          <li class="my-2 fas fa-envelope mr-3"><a href="#"><span class="ml-2 text-muted">threefash@gmail.com</span></a></li><br>
          <li class="my-2 fas fa-phone mr-3"><a href="#"><span class="ml-2 text-muted">(022) 324 6529</span></a></li><br>
          <li class="my-2 fas fa-print mr-3"><a href="#"><span class="ml-2 text-muted">+62 81 221 510 771</span></a></li>
        </ul>
      </div>
      <div class="col-md-4 mx-auto ">
        <h6 class="text-uppercase font-weight-bold text-white">Newsletter</h6>
        <hr class="bg-warning mb-4 mt-0 d-inline-block mx-auto" style="width: 100px; height: 2px">
        <p class="text-muted">Kamu bisa mendapatkan promo - promo yang menarik dari kami, bila memasukan alamat email</p>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="email" placeholder="Your Email" aria-label="SUBMIT">
          <button class="btn btn-outline-warning my-2 my-sm-2" type="submit">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3 text-white">
    <p>&copy; 2021 All Right Reserved by ThreeFash</p>
  </div>
</footer>
