<section id="designer" *ngIf="images">
  <div class="container my-3 py-5 text-center">
    <div class="row mb-5">
      <div class="col">
        <h1 id="designer-router">Our Designer</h1>
      </div>
    </div>

    <div class="row" >
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img [src]="images[0]" alt="Designer dior" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Christian Dior</h3>
            <h5>21 Januari 1905</h5>
            <p>Dior adalah seorang perancang busana terkenal dari Prancis. a dilahirkan di Granville, Manche, Normandy dari keluarga Maurice Dior, seorang pengusaha bahan kimia dan pupuk tanaman, dan istrinya Madeleine Martin. Sesuai dengan kehendak orang tuanya, Dior bersekolah di École des Sciences Politiques. Keluarganya ingin agar ia menjadi diplomat, tetapi ia ingin menjadi seniman. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img [src]="images[1]" alt="Designer chanel" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Gabrielle Bonheur Chanel </h3>
            <h5>19 Agustus 1883</h5>
            <p>Awal popularitas Coco sebagai seorang perancang busana terjadi ketika dia membuat topi trim kecil yang cocok dikenakan di ruangan terbuka. Butiknya di Deauville, Prancis menjual berbagai topi, jaket yang cocok digunakan di luar ruangan. Mengubah pandangan tentang cara berbusana wanita dan memperkenalkan wanita pada celana panjang dan pakaian olahraga untuk wanita.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img [src]="images[2]" alt="Designer prada" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Mario Prada </h3>
            <h5>10 Mei 1948</h5>
            <p> Prada didirikan oleh Mario Prada dan saudaranya Martino sebagai Fratelli Prada. Perusahaan awalnya berkantor pusat di Milan , Italia. Toko tersebut menjual barang-barang kulit dan mengimpor koper dan tas tangan dari Inggris. Mario Prada tidak percaya bahwa perempuan harus memiliki peran dalam bisnis, sehingga ia melarang anggota keluarga perempuan untuk masuk ke perusahaannya.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
